aws_region   = "ap-south-1"
project_name = "python-eks-gitops"
environment  = "dev"
cluster_name = "python-eks-gitops"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs  = ["10.0.0.0/20", "10.0.16.0/20"]
private_subnet_cidrs = ["10.0.128.0/20", "10.0.144.0/20"]

eks_cluster_version = "1.33"

# IMPORTANT: replace this with your current public IP/CIDR before applying.
cluster_endpoint_public_access_cidrs = ["YOUR_PUBLIC_IP/32"]

node_instance_types    = ["t3.medium"]
node_group_min_size    = 1
node_group_desired_size = 2
node_group_max_size    = 3

ecr_repository_name = "python-eks-gitops"
